.nav > * {
    padding-inline-start: 100 px 0;
}

img.lesson {
    border-radius: 8px;
    width: 550px; 
    height: 350px;
}

#pdf-div {
    display: none;
}

img.comp-img {
    border-radius: 8px;
    width: 550px; 
    height: 350px;
}