{% extends 'base.html' %}

{% block title %}{{ lesson.title }} - Details{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block body %}
<h1 id='title'>{{ lesson.title }}</h1>
<button id='edit_title' style='display: inline-block'>Edit title</button>

<p>
  {{ lesson.description }}
</p>
<img class='lesson' src='{{lesson.imgUrl}}'/>

<h1>Change Lesson Pic</h1>
<form action='/lesson-pic' method='POST' enctype='multipart/form-data'>
  <input type='file' name='my-file'>
  <input type='submit'>
</form>


<h2>Components</h2>
<ol>
  {% for component in lesson.comps %}
    <li class='display-components'>
      <a href={{component.url}}>{{ component.name }}</a>
    <ul>
    {% if component.name == "How Wolves Change Rivers" %}
      <section class='video_test'>
        <iframe width="560" 
                height="315" 
                src="https://www.youtube.com/embed/ysa5OBhXz-Q" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
      </section>
    {% elif component.name == "Multiplying fractions - Khan Academy video & practice" %}
      <iframe width="817" 
              height="460" 
              src="https://www.youtube.com/embed/hr_mTd-oJ-M" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
    {% else %}
      <img class='comp-img' src='{{component.imgUrl}}'/><br>
    {% endif %}

          <li>Other component displays</li>
    </ul>
    </li>
  {% endfor %}
</ol>

<!-- <video width="320" height="240" controls>
  <source src='link' type="video/mp4">
  Your browser does not support the video tag.
</video> -->

<section class='add-component'>
  <button id='add-content'>Add Content to Lesson</button>
  <div id='pdf-div'>
  </div>
</section>





<script src="/static/js/lesson_details.js"></script>

{% endblock %}
