{% extends 'base.html' %}
{% block title %}{{ user.user_id }} - Details{% endblock %}

{% block body %}
<h1>User Details</h1>

<p>{{ user.email }}</p>

<h1> Your Lessons </h1>
<ul>
  {% for lesson in lessons %}
    <li>
      <a href="/lessons/{{ lesson.lesson_id }}">
        {{ lesson.title }}
      </a>
    </li>
  {% endfor %}
  <a href="/create_lesson">Create a lesson </a>
</ul>


<h1>Search for lessons </h1>
<form action="/search">
  <ul class="search-options">
    <li><label>Search for lessons with the exact term: <input type="text" name="term"></label>
    <li><label>Search for lessons by user_id: <input type="text" name="user"></label>
    <!-- later expand to add multiple terms -->
    <li><label>Search for lessons by grade:</label>
    <select name="grade">
      <option value=''> </option>
      <option value="4th">4th</option>
      <option value="5th">5th</option>
      <option value="6th">6th</option>
    </select>
    <li>Search for lessons by subject:
    <select name="subject">
      <option value=''> </option>
      <option value="Science">Science</option>
      <option value="Math">Math</option>
      <option value="Writing">Writing</option>
    </select>
    <li><input type="submit">
  </ul>
</form>

{% endblock %}

